---
title: Patients
---
{% include header.html %}
<div class='container-fluid  bg-grey'>
<div class='container'>
  <div class='row-fluid clearfix padding-bottom-lg padding-top-sm'>
    <div class='col-sm-12 col-xs-12'>
    <a id="top" name="top"></a>
      <h1 class='text-white'>I am a patient and would like to find a match...</h1>
      </div>
    </div>
  </div>
</div>
</div>
<div class='container'>
  <div class='row-fluid clearfix padding-bottom-lg padding-top-lg'>
    <div class='col-sm-12 col-xs-12'>
      <a id="case" name="case"></a>
      <h2>Are you looking to find a match?</h2>
      <p>Two Matchmaker Exchange connected partners, <a href="https://genematcher.org/">GeneMatcher</a> and <a href="https://www.mygene2.org/">MyGene2</a>, support patient-led matching &mdash; encouraging individuals and families to share genetic and health information to identify other individuals with similar profiles.</p>
      <h3>Learn more about...</h3>

      <ul>
        <li><h4>GeneMatcher’s Patient-Led Matching: <a href="https://genematcher.org/">genematcher.org</a></h4></li>
        <li><h4>MyGene2’s Patient-Led Matching: <a href="https://www.mygene2.org/">mygene2.org</a></h4></li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
<!--/content-->
{% include footer.html %}
