---
title: Patients
---
{% include header.html %}
<div class="alert alert-warning text-center margin-top-none margin-bottom-none text-md" role="alert">Updates coming soon</div>
<div class='container-fluid  bg-grey'>
<div class='container'>
  <div class='row-fluid clearfix padding-bottom-lg padding-top-sm'>
    <div class='col-sm-12 col-xs-12'>
    <a id="top" name="top"></a>
      <h1 class='text-white'>I am a patient and would like to find a match...</h1>
      </div>
    </div>
  </div>
</div> 
</div>
<div class='container'>
  <div class='row-fluid clearfix padding-bottom-lg padding-top-lg'>
    <div class='col-sm-12 col-xs-12'>
    <a id="case" name="case"></a>
      <h2>Are you looking to find a match?</h2>
      <p>Two Matchmaker Exchange participants, <a href="https://www.genomeconnect.org/">GenomeConnect</a> and <a href="http://www.geneticalliance.org/programs/biotrust/peer">PEER</a> are working to enable data submitted by patients to be searchable by MME Services. Please visit these sites to register and make your data available for matching.
</p>
     <div class='col-sm-2 text-center padding-right-lg padding-top-lg'><a href="https://www.genomeconnect.org/">
     <img src="assets/images/genomeconnect-final-bold-square.300x300.jpg" class="img-responsive thumbnail margin-bottom-xs"  alt="GenomeConnect"/>
     GenomeConnect</a>
     </div>
     <div class='col-sm-2 text-center padding-right-lg padding-top-lg'><a href="http://www.geneticalliance.org/programs/biotrust/peer">
     <img src="assets/images/peerlogo3.png" class="img-responsive thumbnail margin-bottom-xs" alt="PEER"/>
     PEER</a> 
     </div>
     
    </div>
  </div>
</div>
</div>
</div>
<!--/content-->
{% include footer.html %}
