---
title: Clinicians & Laboratories
---
{% include header.html %}
<div class='container-fluid bg-grey'>
<div class='container'>
  <div class='row-fluid clearfix padding-bottom-lg padding-top-sm'>
    <div class='col-sm-12 col-xs-12'>
    <a id="top" name="top"></a>
      <h1 class='text-white'>Matchmaker Exchange welcomes the chance to work with you.</h1>
      <h4 class='text-white'>To get started matching a case, see the instructions below.</h4>
      <div class="row"></div>
    </div>
  </div>
</div>
</div>
<div class='container'>
  <div class='row-fluid clearfix padding-bottom-lg padding-top-lg'>
    <div class='col-sm-12 col-xs-12'>
      <ul>
        <li>Individual case queries or full datasets may be submitted via any of the portals currently connected to MME. To search the MME for matches, each data querier must adhere to the <a href="assets/files/MatchmakerExchangeEndUserAgreement.pdf">MME End User Agreement</a>. </li>
        <li>Entry of a case into a MME database may require consent depending on the content entered. For guidance, <a href="assets/files/MMEConsentPolicyGuidance_Mar2017_final.pdf" target="_blank">click here</a>. </li>
        <li>To begin querying, choose one of our participating services to deposit your case. Use the tables on our <a href="participants.html">Exchange Participants page</a> to compare the location of the database, the types of data stored by each MME service and the parameters used by each for matching and score output.  You may click on each database to be directed to their website for additional guidance and to begin querying.</li>
        <li>If you have a dataset you'd like to deposit into one of the participating matchmaker services to make available for matching, you may also use the instructions below as a guide. We recommend contacting the database to ask for any special instructions on depositing a dataset.</li>
      </ul>
      <div class="center-block" style="max-width: 600px">
        <img src='assets/images/wheel.png' class='img-responsive' />
      </div>
      <p>Matchmaker Services Connected by the MME API:
        <ul>

          <li><a href="https://decipher.sanger.ac.uk/">DECIPHER</a></li>
          <li><a href="https://genematcher.org/">GeneMatcher</a></li>
          <li><a href="https://www.amed.go.jp/en/program/IRUD/">IRUD: Integrating Knowledge for Diagnoses</a></li>
          <li><a href="https://www.mygene2.org/">MyGene2</a></li>
            <li><a href="https://github.com/Clinical-genomics/patientmatcher/">PatientMatcher</a></li>
          <li><a href="https://phenomecentral.org/">PhenomeCentral</a></li>
          <li><a href="https://platform.rd-connect.eu/">RD-Connect Genome-Phenome Analysis Platform</a></li>
          <li><a href="https://seqr.broadinstitute.org/matchmaker/matchbox"><i>seqr</i></a></li>
        </ul>
      </p>
     
      <p>&nbsp;</p>
      <a href='#top' class='pull-right'><span class='glyphicon glyphicon-arrow-up'></span> Return to top </a>
    </div>
  </div>
</div>
</div>
</div>
<!--/content-->
{% include footer.html %}
