---
title: Home
footer_stripe: true
---
{% include header.html %}
<div id="content" class="container"> </div>
<div class='row-fluid clearfix bg-dark-grey padding-top-lg'>
  <div class='col-sm-12 padding-top-lg'> <img src='assets/images/matchmaker-exchange-banner7-2.png' class='img-responsive center-block' /> </div>
</div>
<div class='container'>
  <div class='row-fluid clearfix bg-center-stripe padding-bottom-lg padding-top-lg'>
    <div class='col-sm-6 col-xs-12'>
      <div class='padding-left-lg padding-right-lg margin-left-md margin-right-md padding-top-lg'>
        <h2>The Challenge</h2>
        <p>In both research and clinical settings, the majority of patients with rare disease lack a clear etiology after exome and genome sequencing. Finding just a single additional case with a deleterious variant in the same gene and overlapping phenotype may provide sufficient evidence to identify the causative gene, but today, case data sits in isolated databases.</p>
      </div>
    </div>
    <div class='col-sm-6 col-xs-12'>
      <div class='padding-left-lg padding-right-lg margin-left-md margin-right-md padding-top-lg'>
        <h2>The Solution</h2>
        <p>The 'Matchmaker Exchange' project was launched in October 2013 to address this challenge and find genetic causes for patients with rare disease. This involves a large and growing number of teams and projects working towards a federated platform (Exchange) to facilitate the matching of cases with similar phenotypic and genotypic profiles (matchmaking) through standardized application programming interfaces (APIs) and procedural conventions.</p>
      </div>
    </div>
  </div>

  <div class='row-fluid clearfix bg-center-stripe padding-bottom-sm padding-top-lg'>
    <div class='col-sm-12'>
      <div class='col-sm-6 text-right padding-right-md hidden-xs'>
        <h2><span class='text-md'><a name='Supporters'></a>Matchmaker Exchange</span></h2>
      </div>
      <div class='col-sm-6 text-left padding-left-md hidden-xs'>
        <h2><span class='text-md'>Connected Nodes</span></h2>
      </div>
      <div class='col-sm-12 visible-xs'>
        <h2>Matchmaker Exchange Connected Nodes</h2>
      </div>
      <div class="col-sm-10 col-sm-offset-1 padding-top-lg padding-bottom-lg">
        <img src='assets/images/wheel.png' class='wheel img-responsive' />
      </div>
    </div>
  </div>

  <div class='row-fluid clearfix bg-center-stripe padding-bottom-lg padding-top-sm'>

    <div class='col-sm-6'>
      <div class='padding-right-lg padding-top-sm'>
        <h2>Member Organizations</h2>
        The following organizations are full members of the Matchmaker Exchange:
        <ul>

          <li><a href="https://decipher.sanger.ac.uk/">DECIPHER</a></li>
          <li><a href="https://genematcher.org/">GeneMatcher</a></li>
          <li><a href="https://www.amed.go.jp/en/program/IRUD/">IRUD: Integrating Knowledge for Diagnoses</a></li>
          <li><a href="https://seqr.broadinstitute.org/matchmaker/matchbox"><i>matchbox</i></a></li>
          <li><a href="https://www.mygene2.org/">MyGene2</a></li>
          <li><a href="https://phenomecentral.org/">PhenomeCentral</a></li>
          <li><a href=" https://platform.rd-connect.eu/">RD-Connect Genome-Phenome Analysis Platform</a></li>
        </ul>
      </div>
    </div>

    <div class='col-sm-6'>
      <div class='margin-left-md padding-left-lg padding-top-sm'>
        <h2>How to cite</h2>
        <blockquote class="text-sm">
        Philippakis AA, Azzariti DR, Beltran S, Brookes AJ, Brownstein CA, Brudno M, Brunner HG, Buske OJ, Carey K, Doll C, Dumitriu S, Dyke SOM, den Dunnen JT, Firth HV, Gibbs RA, Girdea M, Gonzalez M, Haendel MA, Hamosh A, Holm IA, Huang L, Hurles ME, Hutton B, Krier JB, Misyura A, Mungall CJ, Paschall J, Paten B, Robinson PN, Schiettecatte F, Sobreira NL, Swaminathan GJ, Taschner PE, Terry SF, Washington NL, Züchner S, Boycott KM, Rehm HL. 2015. <a href="http://onlinelibrary.wiley.com/doi/10.1002/humu.22858/full">The Matchmaker Exchange: A Platform for Rare Disease Gene Discovery</a>. <em>Human Mutation</em>, <strong>36</strong>: 915–921. doi:<a href="http://dx.doi.org/10.1002/humu.22858">10.1002/humu.22858</a>

        [<a href="assets/files/philippakis2015matchmaker.bib">BibTex</a>]
        </blockquote>
      </div>
    </div>

    <div class='col-sm-6'>
      <div class='padding-right-lg padding-top-sm'>
        <h2>Participants</h2>
        Representatives from the following organizations participate in Matchmaker Exchange:
        <ul>
          <li><a href="https://mme.australiangenomics.org.au/">AGHA Patient Archive</a></li>
          <li><a href="http://www.cafevariome.org/">Cafe Variome</a></li>
          <li><a href="http://mendelian.org/">Centers for Mendelian Genomics</a></li>
          <li><a href="https://www.clinicalgenome.org/share-your-data/patients/">ClinGen GenomeConnect</a></li>
          <li><a href="http://thegenesisprojectfoundation.org">GENESIS</a></li>
          <li><a href="http://www.lovd.nl/3.0/home">LOVD</a></li>
          <li><a href="http://www.childrenshospital.org/research/centers-departmental-programs/manton-center-for-orphan-disease-research/about-the-program">Manton Center for Orphan Disease Research</a></li>
          <li><a href="http://www.geneticalliance.org/programs/biotrust/peer">PEER</a></li>
          <li><a href="http://rd-connect.eu/">RD-Connect</a></li>
          <li><a href="http://www.genome.gov/27550959">Undiagnosed Diseases Network</a></li>
        </ul>
        Does your organization participate? Email us at <a href="mailto:info@matchmakerexchange.org">info@matchmakerexchange.org</a> to be added to the list.
      </div>
    </div>

    <div class='col-sm-6'>
      <div class='margin-left-md padding-left-lg padding-top-sm'>
        <h2>Funding</h2>
        <span class='text-md'>This project is funded by database participants and these organizations:</span>
        <div class='row-fluid clearfix padding-bottom-sm'>
          <div class='col-xs-8 padding-top-md'>
            <a target='_blank' href='http://genomicsandhealth.org/'><img src='assets/images/screen_shot_2014-10-17_at_11_46_36_am.400x0.png' class='img-responsive' /></a>
          </div>
          <div class='col-xs-4'>
            <a target='_blank' href='http://www.irdirc.org/'><img src='assets/images/irdirc.400x0.png' class='img-responsive' /></a>
          </div>
        </div>

        <p>
          The Matchmaker Exchange is supported by CanSHARE, International Rare Diseases Research Consortium (IRDiRC), NIH Centers for Mendelian, Genomics, Genome Canada, CIHR, Care4Rare, RD-Connect (EU FP7 #305444).
        </p>
      </div>
    </div>

    <div class="col-sm-6 col-sm-offset-3 padding-top-lg">
      <div class="well padding-top-none text-center text-md">
        <h2>Contact</h2>
        For more information or to provide feedback on the website, please contact <a href="mailto:info@matchmakerexchange.org">info@matchmakerexchange.org</a>
      </div>
    </div>
  </div>

</div>
</div>
</div>
<!--/content-->
{% include footer.html %}
