---
title: Home
footer_stripe: true
---
{% include header.html %}
<div id="content" class="container"> </div>
<div class='row-fluid clearfix bg-dark-grey padding-top-lg'>
  <div class='col-sm-12 padding-top-lg'> <img src='assets/images/matchmaker-exchange-banner7-2.png' class='img-responsive center-block' alt='' /> </div>
</div>
<div class='container'>
  <div class='row-fluid clearfix bg-center-stripe padding-bottom-lg padding-top-lg'>
    <div class='col-sm-6 col-xs-12'>
      <div class='padding-left-lg padding-right-lg margin-left-md  margin-right-md padding-top-lg'>
        <h2>The Challenge</h2>
        <p>In both research and clinical settings, the majority of patients with rare disease lack a clear etiology after exome and genome sequencing. Finding just a single additional case with a deleterious variant in the same gene and overlapping phenotype may provide sufficient evidence to identify the causative gene, but today, case data sits in isolated databases.</p>
      </div>
    </div>
    <div class='col-sm-6 col-xs-12'>
      <div class='padding-left-lg padding-right-lg margin-left-md  margin-right-md padding-top-lg'>
        <h2>The Solution</h2>
        <p>The 'Matchmaker Exchange' project was launched in October 2013 to address this challenge and find genetic causes for patients with rare disease. This involves a large and growing number of teams and projects working towards a federated platform (Exchange) to facilitate the matching of cases with similar phenotypic and genotypic profiles (matchmaking) through standardized application programming interfaces (APIs) and procedural conventions.</p>
      </div>
    </div>
  </div>
  <div class='row-fluid clearfix bg-center-stripe padding-bottom-sm padding-top-lg'>
    <div class='col-sm-12'>
      <div class='col-sm-6 text-right padding-right-md hidden-xs'>
        <h2><span class='text-md'><a name='Supporters'></a>Matchmaker Exchange</span></h2>
      </div>
      <div class='col-sm-6 text-left  padding-left-md hidden-xs'>
        <h2><span class='text-md'>Participants &amp; Supporters</span></h2>
      </div>
      <div class='col-sm-12 visible-xs'>
        <h2>Matchmaker Exchange Participants &amp; Supporters</h2>
      </div>
      <img src='assets/images/wheel.png' alt='' class='img-responsive center-block' />
         </div>
  </div>
  <div class='row-fluid clearfix bg-center-stripe  padding-bottom-lg padding-top-sm'>
    <div class='col-sm-6'>
      <div class='padding-left-lg padding-right-lg padding-top-sm'>
        <h3>Contact</h3>
For more information or to provide feedback on the website, please contact <a href="mailto:info@matchmakerexchange.org">info@matchmakerexchange.org</a>.</div>
    </div>
    <div class='col-sm-6'>
      <div class='padding-left-lg padding-right-lg padding-top-sm'>
        <h2>Links</h2>
Visit our participant and supporter websites by clicking on the following links:
<ul>
          <li><a href="http://www.broadinstitute.org/">Broad RDAP</a></li>
          <li><a href="http://www.cafevariome.org/">Cafe Variome</a></li>
          <li><a href="https://genomeconnect.org/">ClinGen GenomeConnect</a></li>
          <li><a href="https://decipher.sanger.ac.uk">DECIPHER</a></li>
          <li><a href="http://thegenesisprojectfoundation.org">GENESIS/GEM.app</a></li>
          <li><a href="https://genematcher.org/">GeneMatcher</a></li>
          <li><a href="http://www.lovd.nl/3.0/home">LOVD</a></li>
          <li><a href="http://monarchinitiative.org/">Monarch Initiative</a></li>
          <li><a href="http://www.geneticalliance.org/programs/biotrust/peer">PEER</a></li>
          <li><a href="https://phenomecentral.org/">PhenomeCentral</a></li>
          <li><a href="http://rd-connect.eu/">RD Connect </a></li>
          <li><a href="http://www.genome.gov/27550959">Undiagnosed Diseases Network</a></li>
</ul>
      </div>
    </div>
  </div>
  <div class='row-fluid clearfix bg-center-stripe padding-bottom-lg padding-top-lg'>
    <div class='col-sm-6 col-xs-12 padding-top-sm'>
      <div class=' padding-left-md padding-right-md'>
        <h3 class='text-right'><span class='text-md'>This project is funded by database participants and these organizations:</span></h3>
      </div>
    </div>
    <div class='col-sm-6 col-xs-12 padding-top-sm'>
      
      <div class='col-sm-6 padding-top-md'>
        <div class=''> <a class='' target='_blank' href='http://genomicsandhealth.org/'><img src='assets/images/screen_shot_2014-10-17_at_11_46_36_am.400x0.png' class='img-responsive ' alt='' /></a> </div>
      </div>
      <div class='col-sm-3'>
        <div class=''> <a class='' target='_blank' href='http://www.irdirc.org/'><img src='assets/images/irdirc.400x0.png' class='img-responsive ' alt='' /></a> </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!--/content-->
{% include footer.html %}
