---
title: Matchmaker Exchange Statistics and Publications
---
{% include header.html %}
<div class='container-fluid  bg-grey'>
<div class='container'>
  <div class='row-fluid clearfix padding-bottom-lg padding-top-sm'>
    <div class='col-sm-12 col-xs-12'>
      <a id="top" name="top"></a>
      <h1 class='text-white'>Matchmaker Exchange Statistics and Publications</h1>
    </div>
  </div>
</div>
</div>
<div class='container'>
  <div class='row-fluid clearfix padding-bottom-lg padding-top-lg'>
    <div class='col-sm-12 col-xs-12'>

      <h3 class="padding-top-lg">Matchmaker Exchange Statistics (last updated July 2018)</h3>
      
<table class="table table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <td class="info text-sm text-tight">MME Node</td>
      <td class="info text-sm text-tight">Patients/Cases Total</td>
      <td class="info text-sm text-tight">Patients/Cases in MME</td>
      <td class="info text-sm text-tight">Unique Genes</td>
    </tr>
  </thead>
  <tr>
    <td>AGHA Patient Archive (Australia)</td>
    <td>121</td>
    <td>18</td>
    <td>26</td>
  </tr>
  <tr>
    <td>DECIPHER (UK)</td>
    <td>70,000</td>
    <td>26,221</td>
    <td>6,295</td>
  </tr>
  <tr>
    <td>GeneMatcher (USA)</td>
    <td>23,225</td>
    <td>23,225</td>
    <td>9,311</td>
  </tr>
  <tr>
    <td>IRUD (Japan)</td>
    <td>3,000</td>
    <td>60</td>
    <td>100</td>
  </tr>
  <tr>
    <td><i>matchbox</i> (USA)</td>
    <td>17,120</td>
    <td>254</td>
    <td>289</td>
  </tr>
  <tr>
    <td>MyGene2 (USA)</td>
    <td>1,679</td>
    <td>636</td>
    <td>1,082</td>
  </tr>
  <tr>
    <td>PhenomeCentral (Canada)</td>
    <td>5,989</td>
    <td>3,376</td>
    <td>1,340</td>
  </tr>
</table>
      <h3 class="padding-top-lg">Matchmaker Exchange General Publications</h3>

      <blockquote class="text-sm">
      Philippakis AA, Azzariti DR, Beltran S, Brookes AJ, Brownstein CA, Brudno M, Brunner HG, Buske OJ, Carey K, Doll C, Dumitriu S, Dyke SOM, den Dunnen JT, Firth HV, Gibbs RA, Girdea M, Gonzalez M, Haendel MA, Hamosh A, Holm IA, Huang L, Hurles ME, Hutton B, Krier JB, Misyura A, Mungall CJ, Paschall J, Paten B, Robinson PN, Schiettecatte F, Sobreira NL, Swaminathan GJ, Taschner PE, Terry SF, Washington NL, Züchner S, Boycott KM, Rehm HL. 2015. <a href="http://onlinelibrary.wiley.com/doi/10.1002/humu.22858/full">The Matchmaker Exchange: A Platform for Rare Disease Gene Discovery</a>. <em>Human Mutation</em>, <strong>36</strong>: 915–921. doi:<a href="http://dx.doi.org/10.1002/humu.22858/">10.1002/humu.22858</a>

      [<a href="assets/files/philippakis2015matchmaker.bib">BibTex</a>]
      </blockquote>
      
       <blockquote class="text-sm">
      Buske, O.J., Schiettecatte, F., Hutton, B., Dumitriu, S., Misyura, A., Huang, L., Hartley, T., Girdea, M., Sobreira, N., Mungall, C. and Brudno, M., 2015. <a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/humu.22850">The Matchmaker Exchange API: Automating Patient Matching Through the Exchange of Structured Phenotypic and Genotypic Profiles</a>. <em>Human Mutation</em>, <strong>36</strong>: 922-927. doi:<a href="https://doi.org/10.1002/humu.22850">10.1002/humu.22850</a>

      [<a href="assets/files/Buskeetal.bib.bib">BibTex</a>]
      </blockquote>
      
      <h3 class="padding-top-lg">Matchmaker Exchange Gene Discoveries</h3>
        <p>Coming Soon</p>


    </div>
  </div>
</div>
<!--/content-->
{% include footer.html %}
