---
title: Steering Committee
---
{% include header.html %}
<div class='container-fluid  bg-grey'>
<div class='container'>
  <div class='row-fluid clearfix padding-bottom-lg padding-top-sm'>
    <div class='col-sm-12 col-xs-12'>
    <a id="top" name="top"></a>
      <h1 class='text-white'>Steering Committee</h1>
      </div>
    </div>
  </div>
</div> 
</div>
<div class='container'>
  <div class='row-fluid clearfix padding-bottom-lg padding-top-lg'>
    <div class='col-sm-12 col-xs-12'>
    <a id="case" name="case"></a>
      <h2>Matchmaker Exchange Steering Committee</h2>
      <p>To promote responsible data sharing, the founding members of
        the MME have established a set of requirements for participating 
        matchmaking services, a user agreement for those wishing to use the 
        MME, and a steering committee (SC) to govern the program. The SC 
        is composed of a representative from each approved MME service, as 
        well as program organizers and representation from Global Alliance 
        for Genomics and Health (GA4GH) and the International Rare 
        Diseases Research Consortium (IRDiRC). The SC is charged with 
        maintaining the service requirements, user agreement, and oversight 
        of the API to ensure the MME meets the needs of the rare disease 
        community and reflects consensus standards and best practices as<br>
      set forth by the GA4GH and IRDiRC.      </p>
      <table border="0" cellspacing="5" cellpadding="5">
        <tr>
          <td>DECIPHER</td>
          <td><a href="https://www.sanger.ac.uk/research/faculty/mhurles/" target="_blank">Matthew Hurles, PhD </a></td>
        </tr>
        <tr>
          <td>GA4GH</td>
          <td><a href="https://genomicsandhealth.org/about-the-global-alliance/governance/all-bios/heidi-rehm" target="_blank">Heidi Rehm, PhD </a></td>
        </tr>
        <tr>
          <td>GeneMatcher</td>
          <td><a href="http://www.hopkinsmedicine.org/profiles/results/directory/profile/0002818/ada-hamosh" target="_blank">Ada Hamosh, MD, MPH </a></td>
        </tr>
        <tr>
          <td>IRDiRC</td>
          <td><a href="http://www.cheori.org/en/researchers?id=73" target="_blank">Kym Boycott, MD, PhD </a></td>
        </tr>
        <tr>
          <td>PhenomeCentral</td>
          <td><a href="http://www.cs.toronto.edu/~brudno/" target="_blank">Michael Brudno, PhD </a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>
</div>
<!--/content-->
{% include footer.html %}
