---
title: Matchmaker Exchange Steering Committee
---
{% include header.html %}
<div class='container-fluid  bg-grey'>
<div class='container'>
  <div class='row-fluid clearfix padding-bottom-lg padding-top-sm'>
    <div class='col-sm-12 col-xs-12'>
    <a id="top" name="top"></a>
      <h1 class='text-white'>Matchmaker Exchange Steering Committee</h1>
      </div>
    </div>
  </div>
</div>
</div>
<div class='container'>
  <div class='row-fluid clearfix padding-bottom-lg padding-top-lg'>
    <div class='col-sm-12 col-xs-12'>
    <a id="case" name="case"></a>
      <p>To promote responsible data sharing, the founding members of the MME have established a set of requirements for participating matchmaking services, a user agreement for those wishing to use the MME, and a steering committee (SC) to govern the program. The SC is composed of a representative from each approved MME service. The SC is charged with maintaining the service requirements, user agreement, and oversight of the API to ensure the MME meets the needs of the rare disease community and reflects consensus standards and best practices as set forth by the GA4GH and IRDiRC.</p>

      <dl class="members">

           <dt class="service">Boston Children's Hospital <i>seqr</i></dt>
        <dd class="representative"><a href="https://www.childrenshospital.org/research/researchers/shira-rockowitz" target="_blank">Shira Rockowitz, PhD</a></dd>

           <dt class="service">Broad Institute <i>seqr</i></dt>
        <dd class="representative"><a href="https://www.broadinstitute.org/bios/heidi-rehm" target="_blank">Heidi Rehm, PhD</a></dd>
        
        <dt class="service">DECIPHER</dt>
        <dd class="representative"><a href="https://www.sanger.ac.uk/person/foreman-julia/" target="_blank">Julia Foreman, PhD</a></dd>

        <dt class="service">GeneMatcher</dt>
        <dd class="representative"><a href="http://www.hopkinsmedicine.org/profiles/results/directory/profile/0002818/ada-hamosh" target="_blank">Ada Hamosh, MD, MPH</a></dd>

        <dt class="service">IRUD</dt>
        <dd class="representative"><a href="http://www.med.keio.ac.jp/research/faculty/10/" target="_blank">Kenjiro Kosaki, MD, PhD</a></dd>
        
        <dt class="service">ModelMatcher</dt>
        <dd class="representative"><a href="https://www.bcm.edu/people-search/shinya-yamamoto-33456" target="_blank">Shinya Yamamoto, DVM, PhD</a></dd>
        
        <dt class="service">MyGene2</dt>
        <dd class="representative"><a href="https://www.peds.uw.edu/user/1578" target="_blank">Jessica X. Chong, PhD</a></dd>

         <dt class="service">PatientMatcher</dt>
        <dd class="representative"><a href="https://www.scilifelab.se/facilities/clinical-genomics-stockholm/" target="_blank">Chiara Rasi, MS</a></dd>
        
        <dt class="service">PhenomeCentral</dt>
        <dd class="representative"><a href="http://www.cs.toronto.edu/~brudno/" target="_blank">Michael Brudno, PhD</a></dd>
        
        <dt class="service">RD-Connect Genome-Phenome Analysis Platform</dt>
        <dd class="representative"><a href="https://www.cnag.crg.eu/sergi-beltran" target="_blank">Sergi Beltran, PhD</a></dd>
    
   

      </dl>
    </div>
  </div>
</div>
</div>
</div>
<!--/content-->
{% include footer.html %}
