<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="">
<title>{{ page.title }} - Matchmaker Exchange</title>
<meta name="description" content="{{ page.title }} - Matchmaker Exchange" />
<meta name="keywords" content="" />
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/brand.css" rel="stylesheet">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="assets/js/respond.min.js"></script>
<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
		<![endif]-->
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-55846925-1', 'auto');
	ga('send', 'pageview');

</script>
<link rel="touch-icon-precomposed" sizes="144x144" href="assets/ico/touch-icon-144-precomposed.png">
<link rel="touch-icon-precomposed" sizes="114x114" href="assets/ico/touch-icon-114-precomposed.png">
<link rel="touch-icon-precomposed" sizes="72x72" href="assets/ico/touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/ico/touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="assets/ico/favicon.png">
</head>
<body class="home" id="i1">
<nav class="navbar navbar-mme">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-mme" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> <span class="hidden-xs text-uppercase">Home</span><span class="visible-xs-inline">Matchmaker Exchange</span></a>
		</div>
	
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-mme">
			<ul class="nav navbar-nav navbar-right">
				<li class=""><a href="#" class="dropdown-toggle text-center text-uppercase text-md" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-map-marker"></span> <span class="visible-xs-inline visible-lg-inline">How To </span>Get Started <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="i_am_a_clinician_laboratory.html">I have a case to match <br><span class="text-sm text-muted">» For Clinicians or Laboratories</span></a></li>
						<li><a href="i_am_a_patient.html"> I have a case to match <br><span class="text-sm text-muted">» For Patients</span></a></li>
						<li><a href="i_am_a_clinician_laboratory.html"> I have a dataset <span class="visible-xs-inline visible-lg-inline">to deposit</span></a></li>
						<li><a href="i_have_a_database.html"> I have a database <span class="visible-xs-inline visible-lg-inline">to connect</span></a></li>
					</ul>
				</li>
				<li class="dropdown"> <a href="#" class="dropdown-toggle text-center text-uppercase text-md" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-book"></span> <span class="visible-xs-inline visible-lg-inline">Our </span>Resource<span class="visible-sm-inline visible-md-inline">s</span><span class="visible-xs-inline visible-lg-inline"> Library</span> <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="assets/files/MatchmakerExchangeTieredInformedConsentProposal.pdf" target="_blank"><span class="glyphicon glyphicon-save pull-right text-muted"></span><span class="resource-name">Informed Consent Policy</span></a></li>
						<li><a href="assets/files/MatchmakerExchangeServiceRequirements.pdf" target="_blank"><span class="glyphicon glyphicon-save pull-right text-muted"></span><span class="resource-name">Service Requirements</span></a></li>
						<li><a href="assets/files/MatchmakerExchangeEndUserAgreement.pdf" target="_blank"><span class="glyphicon glyphicon-save pull-right text-muted"></span><span class="resource-name">End User Agreement</span></a></li>
						<li><a href="assets/files/MME_Matching_Protocols_and_Notification_Method_2017-04-03.pdf" target="_blank"><span class="glyphicon glyphicon-save pull-right text-muted"></span><span class="resource-name">Matching &amp; Notification Protocols</span></a></li>
						<li><a href="http://onlinelibrary.wiley.com/doi/10.1002/humu.2015.36.issue-10/issuetoc" target="_blank"><span class="glyphicon glyphicon-new-window pull-right text-muted"></span><span class="resource-name">Human Mutation special issue</span></a></li>
						<li><a href="https://github.com/ga4gh/mme-apis" target="_blank"><span class="glyphicon glyphicon-new-window pull-right text-muted"></span><span class="resource-name">API GitHub Repository</span></a></li>
						<li><a href="steering_committee.html"><span class="resource-name">Steering Committee</span></a></li>
						<li><a href="citing.html"><span class="resource-name">Citing Matchmaker Exchange</span></a></li>
					</ul>
				</li>
				<li> <a href="/#Supporters" class="text-center text-uppercase text-md"><span class="glyphicon glyphicon-star"></span> <span class="visible-xs-inline visible-lg-inline">Exchange </span>Participants </a></li>
				<li><a href="mailto:info@matchmakerexchange.org" class="text-center text-uppercase text-md"><span class="glyphicon glyphicon-envelope"></span> Contact<span class="visible-xs-inline visible-lg-inline"> Us</span></a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
